In [1]:
import os

os.chdir('../src/')

In [2]:
from modules.dataProcessing import getJoinedData

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
jumboData = getJoinedData( 
                cachedFile='../data/intermediate/jumboData_cleansed.snappy.parquet'
            )   ## Data will be fetched if cached file is not found

In [4]:
jumboData[:5]

,capturedDate,business_vertical,country,region,city_code,strategy_id,channel_name,goal_type,total_spend_cpm,impressions,clicks,conversions,median_impressions,median_clicks
0,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3714868,Display,1.0,149.565425,48.0,0.0,0.0,12.0,0.0
1,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3715603,Display,1.0,291.516169,124.0,1.0,0.0,12.0,0.0
2,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3716560,Display,2.0,509.019147,415.0,0.0,0.0,12.0,0.0
3,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3718685,Mobile,2.0,134.542628,218.0,0.0,0.0,12.0,0.0
4,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3718702,Mobile,1.0,3.761886,1.0,0.0,0.0,12.0,0.0

## Generate total impressions, total clicks, and total conversions by country, channel_name, and business_vertical separately.

### 1. Total impressions, Total clicks, and Total conversions by `country`

In [13]:
aggByCountry = jumboData.groupby(['country'])[['impressions', 'clicks', 'conversions', 'total_spend_cpm']].agg(sum).reset_index()
aggByCountry['im_cpm'] = aggByCountry['impressions'] / aggByCountry['total_spend_cpm']
aggByCountry['clicks_cpm'] = aggByCountry['clicks'] / aggByCountry['total_spend_cpm']
aggByCountry['conversions_cpm'] = aggByCountry['conversions'] / aggByCountry['total_spend_cpm']
aggByCountry['clicks_im'] = aggByCountry['clicks'] / aggByCountry['impressions']
aggByCountry['conversions_im'] = aggByCountry['conversions'] / aggByCountry['impressions']
aggByCountry['conversions_clicks'] = aggByCountry['conversions'] / aggByCountry['clicks']
aggByCountry

,country,impressions,clicks,conversions,total_spend_cpm,im_cpm,clicks_cpm,conversions_cpm,clicks_im,conversions_im,conversions_clicks
0,Australia,496838.0,192.0,711.0,9.772409e+05,0.508409,0.000196,0.000728,0.000386,0.001431,3.703125
1,Hong Kong,1020872.0,1643.0,49.0,1.006537e+06,1.014242,0.001632,0.000049,0.001609,0.000048,0.029823
2,Indonesia,18999711.5,24447.0,593.0,2.775472e+07,0.684558,0.000881,0.000021,0.001287,0.000031,0.024257
3,Malaysia,358402.0,645.0,59.0,6.125765e+05,0.585073,0.001053,0.000096,0.001800,0.000165,0.091473
4,New Zealand,613103.0,203.0,132.0,1.560066e+06,0.392998,0.000130,0.000085,0.000331,0.000215,0.650246
5,Philippines,5807.0,210.0,7.0,3.785743e+04,0.153391,0.005547,0.000185,0.036163,0.001205,0.033333
6,Somalia,0.0,0.0,0.0,1.747164e+00,0.000000,0.000000,0.000000,NaN,NaN,NaN
7,reserved/private,50.0,0.0,0.0,9.276548e+01,0.538994,0.000000,0.000000,0.000000,0.000000,NaN

In [14]:
aggByChannel = jumboData.groupby(['channel_name'])[['impressions', 'clicks', 'conversions', 'total_spend_cpm']].agg(sum).reset_index()
aggByChannel['im_cpm'] = aggByChannel['impressions'] / aggByChannel['total_spend_cpm']
aggByChannel['clicks_cpm'] = aggByChannel['clicks'] / aggByChannel['total_spend_cpm']
aggByChannel['conversions_cpm'] = aggByChannel['conversions'] / aggByChannel['total_spend_cpm']
aggByChannel['clicks_im'] = aggByChannel['clicks'] / aggByChannel['impressions']
aggByChannel['conversions_im'] = aggByChannel['conversions'] / aggByChannel['impressions']
aggByChannel['conversions_clicks'] = aggByChannel['conversions'] / aggByChannel['clicks']
aggByChannel

,channel_name,impressions,clicks,conversions,total_spend_cpm,im_cpm,clicks_cpm,conversions_cpm,clicks_im,conversions_im,conversions_clicks
0,Display,5616330.0,3023.0,484.0,9.684517e+06,0.579929,0.000312,0.000050,0.000538,0.000086,0.160106
1,Mobile,9342996.0,13226.0,415.0,1.400630e+07,0.667057,0.000944,0.000030,0.001416,0.000044,0.031378
2,Unknown,6535457.5,11091.0,652.0,8.258278e+06,0.791383,0.001343,0.000079,0.001697,0.000100,0.058786

In [16]:
aggByBusinessVertical = jumboData.groupby(['business_vertical'])[['impressions', 'clicks', 'conversions', 'total_spend_cpm']].agg(sum).reset_index()
aggByBusinessVertical['im_cpm'] = aggByBusinessVertical['impressions'] / aggByBusinessVertical['total_spend_cpm']
aggByBusinessVertical['clicks_cpm'] = aggByBusinessVertical['clicks'] / aggByBusinessVertical['total_spend_cpm']
aggByBusinessVertical['conversions_cpm'] = aggByBusinessVertical['conversions'] / aggByBusinessVertical['total_spend_cpm']
aggByBusinessVertical['clicks_im'] = aggByBusinessVertical['clicks'] / aggByBusinessVertical['impressions']
aggByBusinessVertical['conversions_im'] = aggByBusinessVertical['conversions'] / aggByBusinessVertical['impressions']
aggByBusinessVertical['conversions_clicks'] = aggByBusinessVertical['conversions'] / aggByBusinessVertical['clicks']
aggByBusinessVertical

,business_vertical,impressions,clicks,conversions,total_spend_cpm,im_cpm,clicks_cpm,conversions_cpm,clicks_im,conversions_im,conversions_clicks
0,Finance,14959326.0,16249.0,899.0,2.369082e+07,0.631440,0.000686,0.000038,0.001086,0.00006,0.055326
1,Unknown,6535457.5,11091.0,652.0,8.258278e+06,0.791383,0.001343,0.000079,0.001697,0.00010,0.058786

## Select strategy_id =3718750. Show the cumulative sum of impressions and clicks partitioned by channel_name and region over date in ascending order.

In [8]:
specificStrategy = jumboData[ jumboData['strategy_id'] == 3718750 ]

In [9]:
specificStrategy[:5]

,capturedDate,business_vertical,country,region,city_code,strategy_id,channel_name,goal_type,total_spend_cpm,impressions,clicks,conversions,median_impressions,median_clicks
7,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3718750,Display,1.0,255.451460,157.0,0.0,0.0,12.0,0.0
18,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-jawa,3718750,Display,1.0,114.603316,45.0,0.0,0.0,12.0,0.0
29,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-lhokseumawe,3718750,Display,1.0,102.865095,73.0,0.0,0.0,12.0,0.0
35,2018-09-17,Finance,Indonesia,Bali,idn-ba-banjar,3718750,Display,1.0,4.078849,1.0,0.0,0.0,5.0,0.0
43,2018-09-17,Finance,Indonesia,Bali,idn-ba-denpasar,3718750,Display,1.0,9238.309546,6189.0,5.0,0.0,5.0,0.0

In [10]:
cumulativeSumDF = []
for index, df in specificStrategy.groupby(['channel_name', 'region']):
    df_sorted                      = df.sort_values('capturedDate').reset_index(drop=True)[['capturedDate', 'impressions', 'clicks', 'total_spend_cpm']]
    df_sorted['impressions_cumul'] = df_sorted['impressions'].cumsum()
    df_sorted['clicks_cumul']      = df_sorted['clicks'].cumsum()
    df_sorted['cpm_cumul']         = df_sorted['total_spend_cpm'].cumsum()
    df_sorted['channel_name']      = index[0]
    df_sorted['region']            = index[1]
    cumulativeSumDF.append( df_sorted )

cumulativeSumDF = pd.concat( cumulativeSumDF )

In [11]:
cumulativeSumDF[:5]

,capturedDate,impressions,clicks,total_spend_cpm,impressions_cumul,clicks_cumul,cpm_cumul,channel_name,region
0,2018-09-17,157.0,0.0,255.451460,157.0,0.0,255.451460,Display,Aceh Sm
1,2018-09-17,45.0,0.0,114.603316,202.0,0.0,370.054776,Display,Aceh Sm
2,2018-09-17,73.0,0.0,102.865095,275.0,0.0,472.919871,Display,Aceh Sm
3,2018-09-18,83.0,0.0,195.799882,358.0,0.0,668.719753,Display,Aceh Sm
4,2018-09-18,14.0,0.0,33.268646,372.0,0.0,701.988399,Display,Aceh Sm